body
    margin 0px
    ul.zastavky
        list-style-type none
        margin 0px
        padding 0px
        float left
        li
            padding 0px
            float left
            clear left
            width 100%
            border-bottom 1px solid #aaa
            .name
                float left
                display block
                width 200px
                text-overflow ellipsis

            canvas
                float left

