@import colors
@import prefixes
@import basics

body
    margin 0px
    ul.zastavky
        position absolute
        top 0px
        bottom 0px
        right 0px
        width 410px
        border-left 1px solid #aaa
        list-style-type none
        margin 0px
        padding 0px
        float left
        overflow auto
        li
            padding 0px
            float left
            clear left
            width 100%
            border-bottom 1px solid #aaa
            .name
                padding-left 10px
                padding-top 7px
                float left
                display block
                width 190px
                text-overflow ellipsis

            canvas
                float left

    #map
        position absolute
        top 0px
        bottom 0px
        width calc(100% \- 410px)
        float left
        .station-marker
            width 15px
            height 15px
            span
                display block
                width 15px
                height 15px
                border-radius 50%
                border 1px solid #888
                opacity 0.8

