.tramvaj
    position absolute
    top 0px
    left -100%
    bottom 0px
    width calc(100% \- 410px)
    background white
    z-index 5001
    &.active
        left 0px
    .closebtn
        position absolute
        top 14px
        left 14px
        width 30px
        height 30px
        text-align center
        border 1px solid black
        line-height @height
        background #eee
        &:hover
            background #ddd
            cursor pointer
    h1
        margin-left 80px
        margin-top 20px

    .prujezdyGraph
        position absolute
        top 95px
        left 15px
        height 600px
        width calc(100% \- 30px)
        overflow-x auto
        overflow-y hidden
        svg
            .data
                path.dataline
                    stroke black
                    stroke-width 1px
                    fill none
                path.datapoint
                    fill white
                    stroke black
            .data.planned
                stroke #666
                stroke-dasharray 5 5
            .data.planned path:nth-child(2)
            .data.actual g:nth-child(2) path
                stroke #4daf4a
            .data.planned path:nth-child(3)
            .data.actual g:nth-child(3) path
                stroke #e41a1c
            .data.planned path:nth-child(4)
            .data.actual g:nth-child(4) path
                stroke #377eb8
            .data.planned path:nth-child(5)
            .data.actual g:nth-child(5) path
                stroke #984ea3
            line
                shape-rendering crispEdges
                stroke #ddd
                stroke-width 1px
                &.zero
                    stroke #9
            .axis-y
                text
                    font-size 0.8em
            .axis-x
                rect
                    fill transparent
                text
                    fill #9

                g.selected
                    text
                        fill red
                    rect
                        fill red
                        fill-opacity 0.1
                    .datapoint
                        fill red
                g:hover
                    rect
                        fill black
                        fill-opacity 0.1
                    text
                        fill black
                    .datapoint
                        fill black


