.zastavka
    position absolute
    top 0px
    left -100%
    bottom 0px
    width calc(100% \- 410px)
    background white
    z-index 5000
    &.active
        left 0px
    .closebtn
        position absolute
        top 14px
        left 14px
        width 30px
        height 30px
        text-align center
        border 1px solid black
        line-height @height
        background #eee
        &:hover
            background #ddd
            cursor pointer
    h1
        margin-left 80px
        margin-top 20px
    .lineSelector
        position absolute
        top 55px
        left 80px
    .prujezdyDayLegend
        position absolute
        top 95px
        left 15px
        width 30px
        bottom 15px
        border 1px solid #aaa
        border-right 0px none
        overflow-x scroll
        .day
            position absolute
            right 5px
            font-size 0.8em
            height (93% / 31)
            margin-top -20%
            // background red
    .prujezdyScatter
        position absolute
        top 95px
        left 45px
        bottom 15px
        width calc(100% \- 60px)
        border 1px solid #aaa
        border-left 0px none
        overflow-x auto
        overflow-y hidden
        .time
            position absolute
            bottom 0px
            width 60px
            margin-left (@width * -0.5)
            text-align center
        .group
            height (93% / 31)
            margin-top (93% / 31 * -0.5)
            position absolute
            border-left 1px solid red
            border-right 2px solid #aaf
            background #eef
            z-index 1
            opacity 0.6
            &.twominute
                background #afa
                border-right-color #00f
            &.threeminute
                background #ffa
            &.fourminute
                background #faa
            &:hover
                background #faa
                background #00f
                cursor pointer
                z-index 2
