ul.zastavky
    position absolute
    top 0px
    bottom 0px
    right 0px
    width 410px
    border-left 1px solid #aaa
    list-style-type none
    margin 0px
    padding 0px
    float left
    overflow auto
    li
        padding 0px
        float left
        clear left
        width 100%
        border-bottom 1px solid #aaa
        &:hover
            background #eee
            cursor pointer
        .name
            padding-left 10px
            padding-top 7px
            float left
            display block
            width 190px
            text-overflow ellipsis

        canvas
            float left

